    .-open-panel.ins-active {
        height: auto !important;
    }
    
    .count-inpt {
        border-radius: 0px !important;
        text-align: center;
        height: 46px;
        border-top: 1px solid var(--primary);
        border-bottom: 1px solid var(--primary);
        background: white;
    }
    
    .-minus-btn {
        height: 46px;
        color: var(--grey-d)
    }
    
    .-plus-btn {
        height: 46px;
        color: var(--grey-d)
    }
    
    .-open-panel:hover {
        cursor: pointer;
    }
    
    .ins-pagination-btn {
        cursor: pointer;
        width: 80px !important;
    }
    
    .-product-list-chkbox>div {
        background: transparent;
        border: 0;
    }
    
    .-product-list-chkbox>div>div.ins-form-input-cont {
        flex-grow: 0;
    }
    
    .full-height {
        height: 100vh;
    }
    
    .ins-pagination-btn {
        width: 28px !important;
        height: 28px !important;
    }
    
    .ins-pagination-btn.active {
        background: var(--primary);
        border-radius: 4px;
        color: white;
    }
    
    .ins-data {
        padding: 20px !important;
    }
    
    .-type-btn,
    .-type-inner-btn {
        color: var(--grey-m) !important;
        background: var(--white) !important;
        border: 1px solid var(--grey-l);
        border-radius: 8px !important;
        font-size: 14px;
    }
    
    .-type-btn.ins-active,
    .-type-inner-btn.ins-active {
        color: var(--gold-d) !important;
        background: var(--gold-bg) !important;
        border: 1px solid var(--gold-d);
        border-radius: 8px !important;
        font-size: 14px;
    }
    
    .-subtype-btn,
    .-subtype-inner-btn {
        color: var(--grey-m) !important;
        background: var(--white) !important;
        border: 1px solid var(--grey-l);
        border-radius: 8px !important;
        font-size: 14px;
    }
    
    .-subtype-btn.ins-active,
    .-subtype-inner-btn.ins-active {
        color: var(--gold-d) !important;
        background: var(--gold-bg) !important;
        border: 1px solid var(--gold-d);
        border-radius: 8px !important;
        font-size: 14px;
    }
    
    .ins_close.ins-close {
        font-size: 25px;
    }
    
    ._a,
    ._a_red {
        cursor: pointer;
    }
    
    .ins-filter-card {
        padding: 4px 8px;
        color: var(--grey) !important;
        background: var(--white) !important;
        border: 1px solid var(--grey-l);
        border-radius: 8px !important;
        font-size: 14px;
    }
    
    .-remove-filter-btn:hover {
        color: var(--danger);
    }
    
    .-price-to-input {
        border-radius: 0px !important;
        text-align: center;
        border-right: none;
        border-left: none;
        background: white;
    }
    
    .-price-to-input:focus {
        border-left: 1px solid var(--primary) !important;
    }
    
    .-weight-select,
    .-order-select {
        background: white;
        border-radius: 4px;
    }
    
    .icon-text-area {
        position: relative;
        top: 4px;
    }
    
    @media screen and (max-width: 1000px) {
        .-product-filter-input {
            height: 50px;
            font-size: 20px !important;
        }
        .-filter-area {
            display: none;
            z-index: 11111111;
        }
        .-filter-area.menu-open {
            position: fixed;
            left: 0;
            display: block !important;
        }
        .ins-filter-card,
        .-remove-filter-all-btn {
            font-size: 24px;
        }
        .-header-area {
            height: auto !important;
        }
        .-filter-results-area {
            padding: 24px 0px !important;
        }
        .-small-imgs-cont {
            position: absolute;
            top: 513px;
        }
        .-side-mimg-cont {
            height: 620px !important;
        }
        .-type-inner-btn,
        .-subtype-inner-btn,
        .-type-btn {
            height: 65px;
            font-size: 24px !important;
            line-height: 65px !important;
        }
        .-add-cart-btn,
        .-plus-btn,
        .count-inpt,
        .-minus-btn {
            min-height: 80px;
        }
        .icon-text-area {
            position: relative;
            top: 14px;
            width: 50px;
        }
        .-gift-checkbox {
            width: 60px !important;
            top: 5px;
        }
        .-cart-img-cont {
            height: 200px !important;
        }
        .ins-fixpanel.ins-opened {
            width: 100% !important;
        }
        .lni-trash-3._a_red {
            font-size: 40px;
        }
        .item-summary-area {
            line-height: 65px;
        }
        .-continue-shopping-btn,
        .-to-cart-btn {
            min-height: 80px;
            font-size: 28px;
            line-height: 80px !important;
        }
        .ins-close {
            font-size: 52px !important;
        }
        .ins-form-input:not(.-order-select) {
            height: 80px !important;
            line-height: 80px !important;
            font-size: 28px !important;
        }
        .-category-checkbox {
            width: 40px !important;
        }
        .ins-text.ins-form-end {
            font-size: 28px !important;
        }
        .-category-area,
        .-type-area,
        .-weight-select,
        .-weight-select {
            margin-bottom: 40px;
        }
        .-filter-price-btn {
            height: 80px !important;
        }
        .-filter-area.menu-open {
            display: flex !important;
        }
        .ins-pagination-btn,
        .-filter-price-btn>.lni-search-1 {
            font-size: 40px;
        }
        .ins-pagination-btn {
            width: 50px !important;
            height: 50px !important;
        }
        .-pro-pages-buttons {
            height: 50px;
        }
        .-remove-filter-btn {
            font-size: 45px;
        }
    }
    
    .-side-mimg-cont {
        position: relative;
    }
    
    .-side-img-cont {
        transition: 0.3s;
    }
    
    .gla-ahide {
        opacity: 0;
    }
    
    .-side-img.ins-active {
        padding: 6px;
    }
    
    .-side-img-cont.ins-active {
        border: 1px solid var(--primary-d);
        background: var(--primary-l)
    }
    
    .-side-img-cont {
        place-items: center;
        width: 160px;
        height: auto;
        cursor: pointer;
    }
    
    .-small-imgs-cont {
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        width: auto;
        position: absolute;
    }
    
    .-th-bar {
        width: 100%;
        height: 128px;
        position: relative;
        transition: 0.3s;
        scroll-behavior: smooth;
        overflow: auto;
    }
    
    .-th-bar::-webkit-scrollbar {
        border-radius: 5px;
        width: 8px;
        background: #e0e0e0;
        border: 1px solid #c8c8c8;
    }
    
    .-th-bar::-webkit-scrollbar-thumb {
        border: 1px solid #c8c8c8;
    }