@keyframes start {
    0% {
        opacity: 0;
        top: -100%;
    }
    100% {
        opacity: 1;
        top: 0px;
    }
}

@keyframes end {
    0% {
        opacity: 0;
        bottom: -100%;
    }
    100% {
        opacity: 1;
        bottom: 0px;
    }
}

.gla-ltabs-item {
    position: absolute;
    transition: opacity 0.3s ease;
    opacity: 0
}

.gla-ltabs-cont {
    position: relative;
    height: 600px;
    overflow: hidden;
}

.gla-ltabs-item.active {
    opacity: 1
}

.gla-ltabs-item .gla-alogo-primary-l .ins-flex-start,
.gla-ltabs-item .gla-alogo-primary-l .ins-flex-end {
    position: relative;
    overflow: hidden;
}

.gla-ltabs-item .gla-alogo-primary-l .ins-flex-start img {
    position: absolute;
    left: 0;
    top: 0
}

.gla-ltabs-item .gla-alogo-primary-l .ins-flex-end img {
    position: absolute;
    left: 0;
    bottom: 0
}

.gla-ltabs-item.active .gla-alogo-primary-l .ins-flex-start img {
    animation-name: start;
    animation-duration: 1s;
    opacity: 1;
    animation-fill-mode: forwards;
}

.gla-ltabs-item.active .gla-alogo-primary-l .ins-flex-end img {
    animation-name: end;
    animation-duration: 1s;
    opacity: 1;
    animation-fill-mode: forwards;
}

@media screen and (max-width: 1000px) {
    .gla-ltabs {
        font-size: 32px !important;
        line-height: 60px;
    }
    .-about-title-area {
        height: auto !important;
    }
    .-legacy-content {
        font-size: 32px !important;
        line-height: 34px !important;
    }
    .-about-button {
        width: 250px;
        height: 80px !important;
        line-height: 80px !important;
        font-size: 28px;
    }
}