@media screen and (max-width: 1000px) {
    .-input-area {
        margin-top: 40px;
        height: 100px;
    }
    .-cal-update-btn {
        height: 80px !important;
        font-size: 28px;
    }
    .-cal-update-nput {
        font-size: 32px !important;
    }
    .-quality-assurance-text {
        font-size: 22px;
    }
}