.ins-menu {
    justify-content: start !important;
}

.ins-menu a {
    text-transform: uppercase;
    font-family: 'gotham';
}

header .gla-body {
    padding: 12px 40px;
}

.gla-logo {
    margin-right: 32px;
}

header .ins-icon {
    margin: 0 12px;
}

header .ins-icon i {
    font-size: 24px !important;
}

footer {
    padding: 40px;
    padding-top: 80px;
}

.gla-input-line {
    background: transparent;
    border: none;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #fff;
    font-size: 20px;
}

p {
    margin: 0;
}

.visit_data .lni {
    float: left;
    margin-right: 12px
}

footer li {
    line-height: 40px;
}

.gla-primary-br {
    height: 78px;
    line-height: 78px;
    padding: 8px 0
}

.gla-primary-br .gla-container>div {
    height: 62px;
    border-color: var(--primary-m) !important;
}

.gla-icon-card {
    width: 146px;
    height: 75px;
    align-content: center;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0 8px;
    cursor: pointer;
}

.gla-icon-card:hover {
    box-shadow: none !important;
    border: 1px solid var(--primary-m);
}

.gla-shadow-xs {
    box-shadow: 0 1px 4px #19213d16;
}

.gla-shadow-s {
    box-shadow: 0 2px 5px #19213d16;
}

.gla-shadow-m {
    box-shadow: 0 6px 10px #19213d16;
}

.gla-shadow-l {
    box-shadow: 0 4px 20px #19213d30;
}

.gla-shadow-xl {
    box-shadow: 0 8px 40px #19213d40;
}

.gla-shadow-2xl {
    box-shadow: 0 8px 80px #19213d40;
}

.gla-ltabs {
    border-top: 3px solid var(--primary-l);
    color: var(--grey-m);
    font-family: "gotham_m";
    cursor: pointer;
}

.gla-ltabs.gla-active,
.gla-ltabs:hover {
    border-top: 3px solid var(--primary-d);
    color: var(--primary-d);
    font-family: "gotham_m";
}

.gla-ltabs:hover {
    border-top: 1px solid var(--primary-m);
    color: var(--primary-m);
}

.gla-pro-cont {
    column-gap: 32px !important;
    row-gap: 32px !important;
    --flex-gap: 32px !important;
}

.gla-pro-block {
    position: relative;
    overflow: hidden;
    width: 316px;
    transition: 0.3s;
}

.gla-img-cont {
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    align-content: center;
    border-radius: 4px;
    display: flex;
    width: 100%;
    height: 316px;
    overflow: hidden;
    position: relative;
    transition: 0.3s;
}

.gla-img-cont img {
    max-width: 200px;
    background: url(imgs/loading.gif) 50% no-repeat;
    position: absolute;
}

.gla-pro-himg,
.gla-pro-img {
    transition: 0.2s ease-in-out;
    position: relative;
}

.gla-pro-himg {
    right: -1000px;
}

.gla-img-cont:hover .gla-pro-himg {
    opacity: 1;
    height: 100%;
    right: 50%;
    transform: translateX(50%);
}

.gla-pro-img {
    left: 50%;
    transform: translateX(-50%);
}

.gla-img-cont:hover .gla-pro-img {
    left: -1000px;
}

.gla-pro-hbutton {
    opacity: 0;
}

.gla-img-cont:hover .gla-pro-hbutton {
    opacity: 1;
}

.-partners-title {
    width: 178px;
}

.gla-icon-card {
    min-width: 146px;
}

.gla-pro-hbutton {
    position: absolute;
    z-index: 2;
    left: 8px;
    width: calc(100% - 16px);
    bottom: 8px
}

.ins-menu-item {
    transition: 0.1s;
}

.ins-menu-item a {
    transition: 0.1s;
    color: var(--secondary-d);
}

.ins-button-cricle i {
    color: var(--secondary-d) !important;
}

.ins-button-cricle.ins-grey-d i {
    color: white!important;
}

.ins-menu-item:hover a,
.ins-menu-item:hover a * {
    color: var(--gold-d) !important;
}

.ins-menu-item:hover {
    border-bottom: 2px solid var(--gold-d) !important
}

.pro-blog-block:hover {
    background-color: var(--primary-w);
    overflow: hidden;
    box-shadow: 0 2px 5px #19213d16;
}

.pro-blog-block img {
    transition: 0.3s;
}

.pro-blog-block:hover img {
    transform: scale(1.05);
}

.pro-blog-block {
    transition: 0.1s;
    cursor: pointer;
}

.pro-blog-block img {
    object-fit: cover;
    width: 100%;
    min-height: 250px;
    background: url(imgs/loading.gif) 50% no-repeat;
}

.gla-phone-menu {
    display: none;
}

.ins-phone-nav {
    display: none;
}

.pro-blog-cont.-bc {
    width: 316px
}

.pro-blog-cont.-ba {
    width: 316px
}

.pro-blog-cont.-bb {
    width: 664px
}

.-search-cont {
    z-index: 111111;
    position: fixed;
    top: 95px;
    width: 100%;
    border-top: 1px solid var(--border);
    max-height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.3s;
}

.open-search .-search-cont {
    max-height: 200px;
    padding: 25px;
    opacity: 1;
}

.gla-header-search-btn {
    cursor: pointer;
}

.-user-menu {
    position: absolute;
    z-index: 1111;
    top: 65px;
    right: 0px;
    width: 250px;
    max-height: 0;
    overflow: hidden;
    padding: 0;
    opacity: 0;
    transition: 0.2s;
}

.open-user-menu .-user-menu {
    max-height: 500px;
    padding: 20px;
    opacity: 1;
}

.-user-menu li {
    border-bottom: 1px solid var(--border);
}

@-moz-keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes scroll-left {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

.marquee {
    height: 40px;
    overflow: hidden;
    position: relative;
    background: #fefefe;
    color: #333;
    border: 1px solid #4a4a4a;
}

.marquee div {
    position: absolute;
    width: auto;
    height: 100%;
    margin: 0;
    line-height: 40px;
    text-align: center;
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -moz-animation: scroll-left 6s linear infinite;
    -webkit-animation: scroll-left 4s linear infinite;
    animation: scroll-left 80s linear infinite;
    cursor: pointer;
    white-space: nowrap;
}

.marquee div:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}