.logo {
    width: 50px;
    background: no-repeat url(imgs/logo_d.png);
    height: 50px;
    background-size: 100%;
    background-position: center;
}

a:hover,
._a:hover {
    color: var(--gold-d) !important;
}

._a_red:hover {
    color: var(--danger) !important;
}

._a_success:hover {
    color: var(--success) !important;
}

@font-face {
    font-family: 'gotham_s';
    font-style: normal;
    font-display: swap;
    src: url(fonts/en/gotham/Gotham_Thin.otf);
}

@font-face {
    font-family: 'gotham_m';
    font-style: normal;
    font-display: swap;
    src: url(fonts/en/gotham/Gotham_Medium.otf);
}

@font-face {
    font-family: 'gotham';
    font-style: normal;
    font-display: swap;
    src: url(fonts/en/gotham/Gotham_Book.otf);
}

@font-face {
    font-family: 'gotham_l';
    font-style: normal;
    font-display: swap;
    src: url(fonts/en/gotham/Gotham_Bold.otf);
}

.ins-gla-style {
    --input-bg: #f9f8f7;
    --primary: hwb(38 49% 31%);
    --primary-h: 38 !important;
    --primary-s: 49% !important;
    --primary-s: 31% !important;
    --primary-d: #9E865B;
    --primary-m: #C5B69D;
    --wrapper-bg: #ECE7DE;
    --primary-l: #D8CFBD;
    --primary-bg: #ECE7DE;
    --primary-shadow-from: #ECE7DE !important;
    --primary-w: #F5F3EE;
    /*****/
    --secondary: #02285B;
    --secondary-d: #001025;
    --secondary-m: #35537C;
    --secondary-l: #677E9D;
    --secondary-bg: #9AA9BD;
    --secondary-w: #CDD4DE;
    /*****/
    --grey: #645971;
    --grey-d: #2C1942;
    --grey-m: #ACA4B7;
    --grey-l: #E0DDE4;
    --grey-bg: #F5F4F6;
    /*****/
    --gold: #DAB566;
    --gold-d: #D1A340;
    --gold-m: #E3C88D;
    --gold-l: #EDDAB2;
    --gold-bg: #F6EDD9;
    /*****/
    --mud: #B9B2A0;
    --mud-d: #A79F88;
    --mud-m: #CAC5B8;
    --mud-l: #DCD8CF;
    --mud-bg: #EDECE7;
    --font: "gotham";
    --text: #495057;
}


/***primary**/

.ins-primary {
    background-color: var(--primary);
    color: var(--primary-w);
}

.ins-primary-color {
    color: var(--primary);
}

.ins-primary-bg {
    background-color: var(--primary);
}

.ins-primary-d {
    background-color: var(--primary-d);
    color: var(--primary-w);
}

.ins-primary-d-color {
    color: var(--primary-d) !important;
}

.ins-primary-d-bg {
    background-color: var(--primary-m);
}

.ins-primary-m {
    background-color: var(--primary-m);
    color: var(--primary-d);
}

.ins-primary-m-color {
    color: var(--primary-m);
}

.ins-primary-m-bg {
    background-color: var(--primary-m);
}

.ins-primary-l {
    background-color: var(--primary-l);
    color: var(--primary-d);
}

.ins-primary-l-color {
    color: var(--primary-l);
}

.ins-primary-l-bg {
    background-color: var(--primary-l);
}

.ins-primary-bg {
    background-color: var(--primary-bg);
    color: var(--primary-d);
}

.ins-primary-bg-color {
    color: var(--primary-bg);
}

.ins-primary-bg-bg {
    background-color: var(--primary-bg);
}

.ins-primary-w {
    background-color: var(--primary-w);
    color: var(--primary-d);
}

.ins-primary-w-color {
    color: var(--primary-bg);
}

.ins-primary-w-bg {
    background-color: var(--primary-bg);
}


/***secondary**/

.ins-secondary {
    background-color: var(--secondary) !important;
    color: var(--white) !important;
}

.ins-secondary * {
    color: var(--white) !important;
}

.ins-secondary-color {
    color: var(--secondary);
}

.ins-secondary-bg {
    background-color: var(--secondary) !important;
}

.ins-secondary-d {
    background-color: var(--secondary-d);
    color: var(--secondary-w);
}

.ins-secondary-d-color {
    color: var(--secondary-d);
}

.ins-secondary-d-bg {
    background-color: var(--secondary-m);
}

.ins-secondary-m {
    background-color: var(--secondary-m);
    color: var(--secondary-d);
}

.ins-secondary-m-color {
    color: var(--secondary-m);
}

.ins-secondary-m-bg {
    background-color: var(--secondary-m);
}

.ins-secondary-l {
    background-color: var(--secondary-l);
    color: var(--secondary-d);
}

.ins-secondary-l-color {
    color: var(--secondary-l);
}

.ins-secondary-l-bg {
    background-color: var(--secondary-l);
}

.ins-secondary-bg {
    background-color: var(--secondary-bg);
    color: var(--secondary-d);
}

.ins-secondary-bg-color {
    color: var(--secondary-bg);
}

.ins-secondary-bg-bg {
    background-color: var(--secondary-bg);
}

.ins-secondary-w {
    background-color: var(--secondary-w);
    color: var(--secondary-d);
}

.ins-secondary-w-color {
    color: var(--secondary-bg);
}

.ins-secondary-w-bg {
    background-color: var(--secondary-bg);
}


/***grey**/

.ins-grey {
    background-color: var(--grey);
    color: var(--grey-bg);
}

.ins-grey-color {
    color: var(--grey) !important;
}

.ins-grey-bg {
    background-color: var(--grey);
}

.ins-grey-d {
    background-color: var(--grey-d) !important;
    color: var(--grey-bg) !important;
}

.ins-grey-d-color {
    color: var(--grey-d) !important;
}

.ins-grey-d-bg {
    background-color: var(--grey-m);
}

.ins-grey-m {
    background-color: var(--grey-m);
    color: var(--grey-d);
}

.ins-grey-m-color {
    color: var(--grey-m);
}

.ins-grey-m-bg {
    background-color: var(--grey-m);
}

.ins-grey-l {
    background-color: var(--grey-l);
    color: var(--grey-d);
}

.ins-grey-l-color {
    color: var(--grey-l);
}

.ins-grey-l-bg {
    background-color: var(--grey-l);
}

.ins-grey-bg {
    background-color: var(--grey-bg);
    color: var(--grey-d);
}

.ins-grey-bg-color {
    color: var(--grey-bg);
}

.ins-grey-bg-bg {
    background-color: var(--grey-bg);
}


/***gold**/

.ins-gold {
    background-color: var(--gold);
    color: var(--white);
}

.ins-gold-color {
    color: var(--gold);
}

.ins-gold-bg {
    background-color: var(--gold);
}

.ins-gold-d {
    background-color: var(--gold-d);
    color: var(--white);
}

.ins-gold-d-color {
    color: var(--gold-d);
}

.ins-gold-d-bg {
    background-color: var(--gold-m);
}

.ins-gold-m {
    background-color: var(--gold-m);
}

.ins-gold-m-color {
    color: var(--gold-m);
}

.ins-gold-m-bg {
    background-color: var(--gold-m);
}

.ins-gold-l {
    background-color: var(--gold-l);
    color: var(--gold-d);
}

.ins-gold-l-color {
    color: var(--gold-l);
}

.ins-gold-l-bg {
    background-color: var(--gold-l);
}

.ins-gold-bg {
    background-color: var(--gold-bg);
    color: var(--gold-d);
}

.ins-gold-bg-color {
    color: var(--gold-bg);
}

.ins-gold-bg-bg {
    background-color: var(--gold-bg);
}


/***mud**/

.ins-mud {
    background-color: var(--mud);
    color: var(--mud-bg);
}

.ins-mud-color {
    color: var(--mud);
}

.ins-mud-bg {
    background-color: var(--mud);
}

.ins-mud-d {
    background-color: var(--mud-d);
    color: var(--mud-bg);
}

.ins-mud-d-color {
    color: var(--mud-d);
}

.ins-mud-d-bg {
    background-color: var(--mud-m);
}

.ins-mud-m {
    background-color: var(--mud-m);
}

.ins-mud-m-color {
    color: var(--mud-m);
}

.ins-mud-m-bg {
    background-color: var(--mud-m);
}

.ins-mud-l {
    background-color: var(--mud-l);
    color: var(--mud-d);
}

.ins-mud-l-color {
    color: var(--mud-l);
}

.ins-mud-l-bg {
    background-color: var(--mud-l);
}

.ins-mud-bg {
    background-color: var(--mud-bg);
    color: var(--mud-d);
}

.ins-mud-bg-color {
    color: var(--mud-bg);
}

.ins-mud-bg-bg {
    background-color: var(--mud-bg);
}


/**fonts*/

.ins-title,
.ins-title-l,
.ins-title-m,
.ins-title-s,
.ins-title-xl {
    font-family: "gotham";
    font-size: 28px;
    line-height: 32px;
}

.ins-title-10 {
    font-size: 10px;
    font-family: "gotham";
}

.ins-title-12 {
    font-size: 12px;
    font-family: "gotham";
}

.ins-title-14 {
    font-size: 14px;
    font-family: "gotham";
}

.ins-title-20 {
    font-size: 20px;
    font-family: "gotham";
}

.ins-title-xs {
    font-size: 16px;
    font-family: "gotham";
}

.ins-title-s {
    font-size: 18px;
    font-family: "gotham";
}

.ins-title-m {
    font-size: 24px;
    font-family: "gotham";
}

.ins-title-l {
    font-size: 32px;
}

.ins-title-xl {
    font-size: 36px;
    font-family: "gotham_m";
}

.ins-title-2xl {
    font-size: 40px;
    font-family: "gotham_l";
}

.ins-title-3xl {
    font-size: 56px;
    font-family: "gotham_l";
}

.ins-title-4xl {
    font-size: 80px;
    font-family: "gotham_l";
}

.ins-strong-s {
    font-family: "gotham_s";
}

.ins-strong-m {
    font-family: "gotham_m" !important;
}

.ins-strong-l {
    font-family: "gotham_l";
}

.ins-button,
.ins-button-s,
.ins-button-l {
    font-size: 16px;
    font-family: "gotham";
    padding: 0 16px;
    border-radius: 6px;
    height: 46px;
    line-height: 46px !important;
    text-align: center;
    cursor: pointer;
    box-shadow: none !important;
}

.ins-button-s {
    font-size: 14px;
    padding: 0 11px;
    height: 32px;
    line-height: 32px !important;
}

.ins-button-l {
    font-size: 20px;
    height: 52px;
    padding: 0 16px;
    line-height: 52px !important;
}

.ins-gold[class*="ins-button"] {
    border: 1px solid var(--primary);
}

.ins-gold-bg[class*="ins-button"] {
    border: 1px solid var(--primary);
}

[class*="ins-button"]:hover {
    border: none;
    background-color: var(--grey-l) !important;
    color: var(--grey-m)!important;
}

.ins-button-text {
    text-align: center;
}

[class*="gla-alogo"],
[class*="gla-elogo"] {
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 72px;
    min-height: 72px;
}

.gla-alogo-primary-l {
    background-image: url(imgs/alogo_primary_light.svg);
}

.gla-elogo {
    background-image: url(imgs/elogo_gold.png);
}

.gla-elogo-primary {
    background-image: url(imgs/elogo_primary.png);
}

.gla-elogo-black {
    background-image: url(imgs/elogo_black.png);
}

.gla-elogo-white {
    background-image: url(imgs/elogo_white.png);
}

.gla-elogo-grey {
    background-image: url(imgs/elogo_grey.png);
}

.gla-alogo {
    background-image: url(imgs/alogo_gold.png);
}

.gla-alogo-primary {
    background-image: url(imgs/alogo_primary.png);
}

.gla-alogo-black {
    background-image: url(imgs/alogo_black.png);
}

.gla-alogo-white {
    background-image: url(imgs/alogo_white.png);
}

.gla-alogo-grey {
    background-image: url(imgs/alogo_grey.png);
}

a {
    color: var(--secondary);
}

body {
    font-family: "gotham";
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 1px;
    color: var(--text);
}

.gla-container {
    display: flex;
    max-width: 100%;
    margin: auto;
    clear: both;
    width: 1440px;
    position: relative;
}

.ins-button-cricle {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    line-height: 44px;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
}

.ins-button-cricle:hover {
    background-color: #fff !important;
}

.ins-button-cricle.ins-white {
    color: var(--secondary);
}

.ins-button-cricle.ins-white:hover,
.ins-button-cricle.ins-white:hover i {
    color: var(--gold-d) !important;
}

.ins-button-cricle.ins-grey-d:hover {
    border: 1px solid var(--grey-d);
    color: var(--grey-d) !important;
}

.gla-tabs-header {
    height: 32px;
    border-bottom: 1px solid var(--grey-m);
    width: 100%;
    column-gap: 20px !important;
    row-gap: 20px !important;
    --flex-gap: 20px !important;
    cursor: pointer;
}

.gla-tabs-header>div {
    color: var(--grey-m);
    text-transform: uppercase;
}

.gla-tabs-header>div.gla-active,
.gla-tabs-header>div:hover {
    border-bottom: 1px solid var(--grey-d);
    color: var(--grey-d);
    font-family: "gotham_m";
}

.ins-text-upper {
    text-transform: uppercase;
}