[class*="ins-col-"] {
    max-width: 100% !important;
}

.ins_card_btn,
.ins-body,
.ins-files-browser-item {
    min-width: 150px;
}

[class*="ins-flex"]>[class*="ins-col-"],
[class*="ins-tr"]>[class*="ins-col-"] {
    width: 100% !important;
}

.ins-tr {
    --col12-item-width: : 8.33333333333 !important
}

.ins-m-col-1 {
    width: calc(var(--col12-item-width) * 1 - var(--flex-gap))!important;
}

.ins-m-col-2 {
    width: calc(var(--col12-item-width) * 2 - var(--flex-gap)) !important;
}

.ins-m-col-3 {
    width: calc(var(--col12-item-width) * 3 - var(--flex-gap)) !important;
}

.ins-m-col-4 {
    width: calc(var(--col12-item-width) * 4 - var(--flex-gap)) !important;
}

.ins-m-col-5 {
    width: calc(var(--col12-item-width) * 5 - var(--flex-gap)) !important;
}

.ins-m-col-6 {
    width: calc(var(--col12-item-width) * 6 - var(--flex-gap)) !important;
}

.ins-m-col-7 {
    width: calc(var(--col12-item-width) * 7 - var(--flex-gap)) !important;
}

.ins-m-col-8 {
    width: calc(var(--col12-item-width) * 8 - var(--flex-gap)) !important;
}

.ins-m-col-9 {
    width: calc(var(--col12-item-width) * 9 - var(--flex-gap))!important;
}

.ins-m-col-10 {
    width: calc(var(--col12-item-width) * 10 - var(--flex-gap))!important;
}

.ins-m-col-11 {
    width: calc(var(--col12-item-width) * 11 - var(--flex-gap)) !important;
}

.ins-m-col-12 {
    width: 100% !important;
}

.ins-m-hidden {
    display: none !important;
}

.ins-m-show {
    display: block !important;
}

.ins-m-flex {
    display: flex !important;
}

.ins-m-flex-center {
    display: flex !important;
    justify-content: center;
}

.ins-m-text-center {
    text-align: center;
}

.ins-files-browser-body-data {
    top: 50px;
    height: calc(100% - 50px);
}

.ins-files-browser-body {
    top: 90px;
}

.ins-m-flex-space-between {
    justify-content: space-between !important;
    align-items: center !important;
}