.count-inpt {
    border-radius: 0px !important;
    text-align: center;
    height: 46px;
    border-top: 1px solid var(--primary);
    border-bottom: 1px solid var(--primary);
    background: white;
}

.-minus-btn {
    height: 46px;
    color: var(--grey-d)
}

.-plus-btn {
    height: 46px;
    color: var(--grey-d)
}

.-delivery-type-btn.inactive {
    color: var(--grey-m) !important;
    background: var(--white) !important;
    border: 1px solid var(--grey-l);
}

.-delivery-type-btn {
    height: 48px
}

.-step-button {
    border: 1px solid var(--grey-l);
    border-radius: 8px;
    padding: 8px 12px 8px 12px;
}

.ins-active {
    border: 1px solid var(--primary-d) !important;
}

.-payment-type-btn {
    cursor: pointer;
    height: 64px;
    border: 1px solid var(--grey-l);
    border-radius: 8px;
    background: white;
    padding: 20px 16px 20px 16px;
    line-height: 10px;
}

.-payment-type-btn.ins-active .payment-title {
    color: var(--primary-d) !important;
}

._a,
._a_red {
    cursor: pointer;
    font-size: 25px;
    color: var(--grey-m);
    height: 25px;
}

.-payment-subtype-area {
    height: 0;
    overflow: hidden;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s ease, height 0s;
}

.-payment-subtype-area.ins-active {
    cursor: pointer;
    transform: scaleY(1);
    height: auto;
    min-height: 64px;
    border: 1px solid var(--grey-l);
    border-radius: 0px 0px 8px 8px;
    background: var(--primary-bg);
    border: 1px solid var(--primary-d);
    padding: 20px 16px;
    max-height: 300px;
    overflow: auto;
}

.-payment-type-btn.ins-active {
    border-radius: 8px 8px 0px 0px !important;
    border-width: 1px 1px 0 1px !important;
    border-style: solid !important;
    border-color: var(--primary-d) !important;
}

.-bank-info-card {
    border: 1px solid var(--grey-bg);
    padding: 16px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 16px -8px;
    scale: 1;
    transition: 0.3s;
}

.-bank-info-card.ins-active {
    border: 1px solid var(--primary-d);
    background: var(--gold-bg);
    scale: 1.05;
}

@media screen and (max-width: 1000px) {
    .-steps-area {
        height: 60px !important;
    }
    .-step-button {
        height: 50px;
        font-size: 24px;
    }
    .-item-card>img {
        max-width: 220px;
    }
    .-pro-title-area {
        line-height: 60px !important;
    }
    .-plus-btn,
    .-minus-btn,
    .lni-trash-3._a_red,
    .lni-pencil-1 {
        font-size: 40px;
    }
    .ins-form-input.count-inpt,
    .-plus-btn,
    .-minus-btn {
        height: 60px !important;
        line-height: 60px !important;
    }
    .ins-form-input,
    .-cart-next-btn,
    .-payment-btn,
    .-back-btn {
        height: 80px !important;
        line-height: 80px !important;
    }
    .-delivery-type-btn {
        font-size: 28px;
        height: 75px;
    }
    .-address-radio-btn,
    .-address-type-radio-btn,
    .-address-btn,
    .-payment-type-btn-img {
        width: 42px;
    }
    .-add-address {
        height: 50px;
        line-height: 50px !important;
        font-size: 24px;
    }
    .-remove-item-cart-small-btn {
        position: absolute;
        top: 0;
        right: 0;
    }
    .-item-card {
        position: relative;
    }
    .-add-address-btn,
    .-back-address-btn,
    .-submit-order-btn,
    .-update-address-btn {
        min-height: 80px;
        line-height: 80px !important;
        font-size: 28px;
    }
    .-address-contact-area {
        line-height: 30px;
    }
    .-store-title {
        font-size: 34px !important;
        line-height: 24px !important;
    }
    .-store-address {
        font-size: 24px !important;
    }
    .-extra-fees-card {
        text-align: center;
        margin-top: 30px;
    }
    .-payment-type-btn {
        height: 100px;
    }
    .payment-title,
    .-success-msg,
    .-fail-msg,
    .-bank-msg {
        line-height: 42px !important;
    }
    .-payment-img {
        max-width: 72px !important;
    }
    .ins-logo-xs {
        width: 60px !important;
    }
    .-bank-info,
    .-bank-des {
        font-size: 14px !important;
    }
    .-bank-note,
    .-bank-title {
        font-size: 18px !important;
    }
    .-fees-info,
    .-address-card {
        padding: 30px;
    }
    .-user-address {
        line-height: 42px !important;
    }
}