.count-inpt {
    border-radius: 0px !important;
    text-align: center;
    height: 46px;
    border-top: 1px solid var(--primary);
    border-bottom: 1px solid var(--primary);
    background: white;
}

.-minus-btn {
    height: 46px;
    border-radius: 4px 0 0 4px !important;
    color: var(--grey-d)
}

.-plus-btn {
    height: 46px;
    border-radius: 0 4px 4px 0 !important;
    color: var(--grey-d)
}

.-delivery-type-btn.inactive {
    color: var(--grey-m) !important;
    background: var(--white) !important;
    border: 1px solid var(--grey-l);
}

.-delivery-type-btn {
    height: 48px
}

.-step-button {
    border: 1px solid var(--grey-l);
    border-radius: 8px;
    padding: 8px 12px 8px 12px;
}

.ins-active {
    border: 1px solid var(--primary-d) !important;
}

.-payment-type-btn {
    cursor: pointer;
    height: 64px;
    border: 1px solid var(--grey-l);
    border-radius: 8px;
    background: white;
    padding: 20px 16px 20px 16px;
    line-height: 10px;
}

.-payment-type-btn.ins-active .payment-title {
    color: var(--primary-d) !important;
}

.lni {
    cursor: pointer;
    font-size: 25px;
    color: var(--grey-m);
    height: 25px;
}