.-open-panel.ins-active {
    height: auto !important;
}

.count-inpt {
    border-radius: 0px !important;
    text-align: center;
    height: 46px;
    border-top: 1px solid var(--primary);
    border-bottom: 1px solid var(--primary);
    background: white;
}

.-minus-btn {
    height: 46px;
    color: var(--grey-d)
}

.-plus-btn {
    height: 46px;
    color: var(--grey-d)
}

.-open-panel:hover {
    cursor: pointer;
}

.ins-pagination-btn,
.-side-img {
    cursor: pointer;
    width: 80px !important;
}

.-product-list-chkbox>div {
    background: transparent;
    border: 0;
}

.-product-list-chkbox>div>div.ins-form-input-cont {
    flex-grow: 0;
}

.full-height {
    height: 100vh;
}

.ins-pagination-btn {
    width: 28px !important;
    height: 28px !important;
}

.ins-pagination-btn.active {
    background: var(--gold-d);
    border-radius: 4px;
    color: white;
}

.-side-img.ins-active {
    max-width: 65px !important;
    cursor: auto;
}

.-side-img-cont.ins-active {
    border: 3px solid var(--primary-d);
    background: var(--primary-l)
}

.-side-img-cont {
    display: grid;
    place-items: center;
    width: 98px;
    height: 98px;
}

.ins-data {
    padding: 20px !important;
}

.-type-btn,
.-type-inner-btn {
    color: var(--grey-m) !important;
    background: var(--white) !important;
    border: 1px solid var(--grey-l);
    border-radius: 8px !important;
    font-size: 14px;
}

.-type-btn.ins-active,
.-type-inner-btn.ins-active {
    color: var(--gold-d) !important;
    background: var(--gold-bg) !important;
    border: 1px solid var(--gold-d);
    border-radius: 8px !important;
    font-size: 14px;
}

.-subtype-btn,
.-subtype-inner-btn {
    color: var(--grey-m) !important;
    background: var(--white) !important;
    border: 1px solid var(--grey-l);
    border-radius: 8px !important;
    font-size: 14px;
}

.-subtype-btn.ins-active,
.-subtype-inner-btn.ins-active {
    color: var(--gold-d) !important;
    background: var(--gold-bg) !important;
    border: 1px solid var(--gold-d);
    border-radius: 8px !important;
    font-size: 14px;
}

.ins_close.ins-close {
    font-size: 25px;
}

._a,
._a_red {
    cursor: pointer;
}

.ins-filter-card {
    padding: 4px 8px;
    color: var(--grey) !important;
    background: var(--white) !important;
    border: 1px solid var(--grey-l);
    border-radius: 8px !important;
    font-size: 14px;
}

.-remove-filter-btn:hover {
    color: var(--danger);
}

.-price-to-input {
    border-radius: 0px !important;
    text-align: center;
    border-right: none;
    border-left: none;
    background: white;
}

.-price-to-input:focus {
    border-left: 1px solid var(--primary) !important;
}

.-weight-select,
.-order-select {
    background: white;
    border-radius: 4px;
}

@media screen and (max-width: 1000px) {
    .-product-filter-input {
        height: 50px;
        font-size: 20px !important;
    }
    .-filter-area {
        display: none;
    }
    .-filter-area.menu-open {
        display: block !important;
    }
    .ins-filter-card,
    .-remove-filter-all-btn {
        font-size: 24px;
    }
    .-header-area {
        height: auto !important;
    }
    .-filter-results-area {
        padding: 24px 0px !important;
    }
}