<!DOCTYPE html>
<html lang="{{user.settings.lang}}">

<head>
    <meta charset="utf-8"> {{ temp.header|safe }}

    <link rel="stylesheet" href="{{ temp._weburl|safe }}css/style.css" />
    <link rel="stylesheet" href="{{ temp._weburl|safe }}css/style-{{user.settings.lang}}.css" />

    <script type="text/javascript" src="{{ temp._weburl|safe }}js/script.js"></script>
    <meta charset="utf-8"> {{ temp.header_end|safe }}
    <title>{{page["title"]}} </title>

</head>

<body class=" {{page['class']|safe }} ins-agla-style   ins-wallpaper">
    <div class="ta-body ins-gap-o ins-flex-start">
        <div class="t-side-are">
            <div class="t-nav ins-bar-left  ins-flex ">
                <div class="logo ins-col-12 ins-primary">
                    <a href="/ins_gla/"><img src="{{ temp._weburl|safe }}css/imgs/logo.png" /> </a>
                </div>
                <div class="ins-col-12"> {{ wdgts["menu"]|safe }}</div>
                <div class="ins-flex-grow">
                </div>
                <div class="ins-col-12 setting-menu  ">

                    <li class="ins-col-12 ins-menu-parent ins-menu-item ins-flex-center">

                        <span class="ins-link">
                        <i class="lni lni-bookmark-1 ins-col-12 ins-text-center"></i>
                        <span class="ins-col-12 ins-text-center">Favorite</span>
                        </span>


                        <ul class="sub-menu ins-padding-xl" start="True">
                            <li class="sub-menu-title" start="True">
                                <div class="ins-padding-xl ins-title-s ins-strong" href="#">Favorite</div>
                            </li>

                        </ul>


                    </li>


                    <li class="ins-col-12 ins-menu-parent ins-menu-item ins-flex-center">
                        <span class="ins-link">

                        <i class="lni lni-gear-1  ins-col-12 ins-text-center "></i>
                        <span class="ins-col-12  ins-text-center">Settings</span>

                        </span>

                        <ul class="sub-menu ins-padding-xl" start="True">
                            <li class="sub-menu-title" start="True">
                                <div class="ins-padding-xl ins-title-s ins-strong" href="#">Settings</div>
                            </li>


                            <div class="ins-col-12"> {{ wdgts["settings"]|safe }}</div>



                        </ul>



                    </li>


                    <li class="ins-col-12 ins-menu-parent ins-menu-item ins-flex-center">
                        <span class="ins-link">

                        <i class="lni lni-message-2-question ins-col-12 ins-text-center"></i>
                        <span class="ins-col-12 ins-text-center">Help</span></span>


                        <ul class="sub-menu ins-padding-xl" start="True">
                            <li class="sub-menu-title" start="True">
                                <div class="ins-padding-xl ins-title-s ins-strong" href="#">Help</div>
                            </li>
                            <!--
                            <li class="sub-menu-item" start="True"><a class="ins-col-12 ins-padding-m ins-flex-center" href="/mcontent/"><i class="lni  lni-pencil-alt"></i><span class="ins-col-10  ">Content</span></a></li>
-->
                        </ul>

                    </li>
                </div>
            </div>
        </div>
        <div class="t-main  ins-gap-o  ins-flex-grow">
            <div class="ins-col-12 ins-flex ins-gap-o   ins-col-12  ins-padding-s ins-bar-top tmp-header ">
                <div class="t-page-title ins-flex-grow ins-gap-o   ins-padding-xl ins-flex ins-padding-h">
                    <div style="line-height: 40px;margin-bottom: 0;     min-width: 120px;" class="t-page-title  "> {{ temp._page_title|safe }}
                    </div>


                    {{ temp._page_des|safe }}


                    <div class="  ins-radius-s  ins-font-m ins-padding-s  tmp-user_menu ins-flex ins-primary ">

                        <i class="lni lni-user-4"></i> {{ user["title"]|safe }}
                        <div start="True" class="ins-menu ins-end ">
                            <div style="transform: rotate(90deg);" class="lni ins-icon ins-header  lni-menu-meatballs-1 ins-padding-s"></div>
                            <ul class="ins-flex-center" start="True">

                                <div style="height: 35px;width: 35px;line-height: 35px;" class="  ins-rounded ins-text-center  ins-font-m  ins-flex ins-primary ">
                                    {{user["avatar"]}}
                                </div>

                                <li style="    font-size: 15px;" class=" ins-title-s  ins-col-12 ins-text-center">{{user["title"]}}</li>

                                <li class="ins-line ins-col-12"></li>
                                <li class="   ins-col-12"><i class="lni ins-icon  lni-user-4"></i>PRofile</li>
                                <li class="ins-line ins-col-12"></li>


                                <li class="ins-col-12  ins-strong"><i class="lni ins-icon   lni-gear-1"></i>Settings</li>

                                <ul style="display: flex  !important" class="ins-flex ins-padding-l  ins-col-12">
                                    <li class="   ins-col-12"><i class="lni ins-icon   lni-highlighter-1"></i>style</li>
                                    <li style="display: flex !important" class="ins-flex-end ins-col-12">
                                        {% if user["settings"]["style"] =="light" %}
                                        <span data-v="dark" data-n="style" class="ins-col-5 -tp-usupdate    ins-border ins-text-center">Dark </span>
                                        <span data-v="light" data-n="style" class="ins-col-5 ins-border ins-active -tp-usupdate  ins-text-center">Light </span> {% else %}
                                        <span data-v="dark" data-n="style" class="ins-col-5 -tp-usupdate   ins-active ins-border ins-text-center">Dark </span>
                                        <span data-v="light" data-n="style" class="ins-col-5 ins-border -tp-usupdate    ins-text-center">Light </span> {% endif %}
                                    </li>
                                </ul>





                                <ul style="display: flex  !important" class="ins-flex ins-padding-l ins-padding-h ins-col-12">
                                    <li class="   ins-col-12"><i class="lni ins-icon   lni-globe-1"></i>languages</li>
                                    <li style="display: flex !important" class="ins-flex-end ins-col-12">
                                        {% if user["settings"]["lang"] =="en" %}
                                        <span data-v="end" data-n="lang" class="ins-col-5 ins-border ins-active -tp-usupdateins-text-center">English </span>

                                        <span data-v="ar" data-n="lang" class="ins-col-5 -tp-usupdate  ins-border ins-text-center">عربي  </span> {% else %}
                                        <span data-v="en" data-n="lang" class="ins-col-5 ins-border -tp-usupdate ins-text-center">English </span>
                                        <span data-v="ar" data-n="lang" class="ins-col-5 -tp-style-dark ins-active ins-border ins-text-center">عربي </span> {% endif %}
                                    </li>
                                </ul>



                                <li class="ins-line ins-col-12"></li>


                                <li class="ins-danger-color  -tp-logout-btn ins-col-12"><i class="lni ins-icon  lni-exit"></i>Logout</li>

                            </ul>
                        </div>



                    </div>



                </div>
            </div>
            <div class="ins-flex ins-col-12 ins-padding-l tmp-app">{{ app|safe }}</div>
        </div>
        <div class="ins-col-12"> {{ wdgts["bottom"]|safe }}</div>
    </div>
    </div>
    <div class="ins-message-area"></div>
</body>

</html>