@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.ins-agla-style {
    --input-bg: #f9f8f7;
    --primary: hwb(38 49% 31%);
    --primary-h: 38 !important;
    --primary-s: 49% !important;
    --primary-s: 31% !important;
    --primary-d: #9E865B;
    --primary-m: #C5B69D;
    --wrapper-bg: #ECE7DE;
    --primary-l: #D8CFBD;
    --primary-bg: #ECE7DE;
    --primary-shadow-from: #ECE7DE !important;
    --primary-w: #F5F3EE;
    /*****/
    --secondary: #02285B;
    --secondary-d: #001025;
    --secondary-m: #35537C;
    --secondary-l: #677E9D;
    --secondary-bg: #9AA9BD;
    --secondary-w: #CDD4DE;
    /*****/
    --grey: #645971;
    --grey-d: #2C1942;
    --grey-m: #ACA4B7;
    --grey-l: #E0DDE4;
    --grey-bg: #F5F4F6;
    /*****/
    --gold: #DAB566;
    --gold-d: #D1A340;
    --gold-m: #E3C88D;
    --gold-l: #EDDAB2;
    --gold-bg: #F6EDD9;
    /*****/
    --mud: #B9B2A0;
    --mud-d: #A79F88;
    --mud-m: #CAC5B8;
    --mud-l: #DCD8CF;
    --mud-bg: #EDECE7;
    --font: "gotham";
    --text: #495057;
}

body {
    font-family: "Montserrat", sans-serif;
}

.t-nav {
    min-height: 100vh;
    width: 90px;
}

.t-main {
    box-sizing: border-box;
    flex-flow: column wrap;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    align-items: stretch;
    min-height: 100vh;
}

.ins-menu-item {
    height: 80px;
    padding: 3px;
    cursor: pointer;
}

.ins-table-data {}

.ins-menu-item span,
.ins-table-data .ins-thead .ins-td,
.t-page-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

.t-page-title {
    font-size: 1.4rem;
    line-height: 1.2;
    font-weight: 700 !important;
}

.ins-menu-item span {
    margin: 8px 0px 0px;
    line-height: 1.66;
    display: block;
    font-size: 0.65rem;
}

.ins-menu-item i {
    font-size: 1rem;
}

.sub-menu .sub-menu {
    display: block;
    opacity: 1;
    position: relative;
    left: 0;
    width: 100%;
    padding: 0;
    background: var(--ins-color-2);
    padding: 4px;
    border-radius: 5px;
}

.sub-menu .ins-menu-item>a {
    display: none;
}

.ins-table-data .ins-td._actions,
.ins-table-data .ins-thead .ins-td {
    background: transparent !important;
}

.ins-table-data .ins-td._actions {
    padding: 0;
}

.ins-table-data .ins-td._actions a,
.ins-table-data .ins-td._actions i {
    text-align: center;
    height: 30px;
    display: block;
    line-height: 30px;
    font-size: 17px;
    cursor: pointer;
}

.ins-table-data .ins-td._actions a:nth-child(2),
.ins-table-data .ins-td._actions i:nth-child(2) {
    border-right: 1px solid var(--gray);
    border-left: 1px solid var(--gray);
}

.ins-table-data .ins-td:first-child {
    position: relative;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    overflow: hidden;
}

.ins-table-data .ins-raw-selector,
.ins-table-data .ins-raw-selector-all {
    background-color: var(--secondary);
    position: absolute;
    width: 4px;
    height: 100%;
    cursor: pointer;
    top: 0px;
    left: 0px;
    content: " ";
    border-radius: 6px;
    display: inline-block;
    transition: 0.02s;
}

.ins-table-data .ins-raw-selector-all {
    width: 0px;
}

.ins-table-data .ins-tr .ins-td:first-child {
    transition: 0.02s;
}

.ins-table-data .ins-tr.active .ins-td:first-child {
    padding-left: 30px;
}

.ins-table-data .ins-tr.active .ins-raw-selector,
.ins-table-data .ins-tr:hover .ins-raw-selector,
.ins-table-data .ins-raw-selector-all.active,
.ins-table-data .ins-tr:hover .ins-raw-selector-all {
    width: 25px;
}

.ins-table-regular .ins-tr:nth-child(odd) .ins-td {
    border-top: 1px solid #7878782e !important;
    border-bottom: 1px solid #7878782e !important;
}

.ins-table-data .ins-tr.active .ins-raw-selector,
.ins-table-data .ins-raw-selector-all.active {
    background-color: var(--secondary);
    display: inline-block;
    font: normal normal normal 1em / 1 'lineicons';
    color: inherit;
    flex-shrink: 0;
    -webkit-font-smoothing: antialiased;
}

.ins-table-data .ins-tr.active .ins-raw-selector::before,
.ins-table-data .ins-raw-selector-all.active::before {
    content: "\ea78";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ins-table-data .ins-tr {
    border: 1px solid transparent;
}

.ins-table-data .ins-tr:hover {
    border-radius: 6px;
}

.ins-table-data .ins-tr:hover .ins-td {
    background-color: var(--ins-color-2);
}

.ins-tag {
    color: #333;
}

.ins-table-data .ins-tr:hover .ins-td a {
    color: var(--primary) !important
}

.ins-table-data .ins-thead .ins-td {
    border: none;
}

.ins-wallpaper {
    overflow: hidden;
}

.logo {
    height: 90px;
    position: relative;
}

.logo img {
    max-width: 80px;
    text-align: CENTER;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.l-header-bar {
    line-height: 1.5;
    min-height: 45px;
    margin-top: -65px;
    margin-left: -12px;
    width: calc(100% + 24px) !important;
    margin-right: -12px;
    background: rgba(0, 0, 0, 0.02);
    background: rgb(248 248 248);
}

.ins-app {
    height: calc(100vh - 100px);
    overflow: auto;
}

.ins-group {
    border-radius: 20px;
    background: var(--card-bg);
    padding: 2px 4px;
}

.ins-button .ins-icon {
    text-align: center;
}

.ins-group .ins-button {
    border-radius: 20px;
    padding: 2px;
    background: transparent;
    min-width: 30px;
    text-align: center;
    height: 35px;
    line-height: 30px !important;
}

.ins-button .ins-icon {
    font-size: 17px;
    margin: 0 4px;
}

.ins-group .ins-border {
    height: 35px;
}

.l-header-bar .ins-title {
    font-size: 1.2rem;
}

.tmp-header {
    height: 90px;
    padding-top: 18px;
}

.tmp-user_menu {
    padding: 10px;
    border-radius: 25px !important;
    top: 14px;
    position: absolute;
    right: 28px;
    font-weight: normal;
    top: 28px;
}

.tmp-header-data .tmp-user_menu {
    top: 10px;
}

.tmp-header-data .tmp-header {
    padding-top: 0px;
}

.t-side-are {
    transition: 0.225s ease-in-out;
    position: relative;
    width: 90px;
}

.sub-menu-open .t-side-are {
    width: 340px;
    border-right: 1px solid var(--border);
    transition: 0.2s ease-in-out;
    background: var(--ins-color-6);
}

.t-main {
    max-width: calc(100% - 90px);
}

.sub-menu-open .t-main {
    max-width: calc(100% - 340px);
}

.sub-menu {
    opacity: 0;
    width: 0;
    left: -90px;
    overflow: hidden;
    display: none;
    position: relative;
    transition: 0.35s opacity ease-in-out;
}

.open-item>.sub-menu {
    position: absolute;
    display: block;
    left: 90px;
    top: 0;
    opacity: 1;
    width: 250px
}

.sub-menu-title {
    height: 73px;
    border-bottom: 1px solid var(--border);
    margin-bottom: 16px;
}

.sub-menu-item span {
    font-size: 0.875rem;
    font-weight: 600;
    width: calc(100% - 50px);
    text-align: start;
    line-height: 1;
}

.sub-menu-item i {
    font-size: 1.2rem;
    width: 25px;
}

.sub-menu-item:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

.sub-menu-item {
    border-radius: 6px;
    width: 100%;
    height: 45px;
    cursor: pointer;
}

.sub-menu .ins-menu-item {
    height: auto;
    width: 100%;
}

.sub-menu .sub-menu .sub-menu-item span {
    font-size: 0.675rem;
}

.sub-menu .sub-menu .sub-menu-item {
    height: 35px;
}

.sub-menu .ins-menu-item .sub-menu-title {
    font-size: 16px;
    height: 20px;
    text-align: left;
    border: var(--border);
    margin-bottom: 4px;
    padding: 4px 0;
}

.sub-menu .ins-menu-item .sub-menu-title .ins-title-m {
    font-size: 14px;
    padding: 0;
}

.ins-menu-item:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

.ins-menu-itemitem-active {
    background-color: rgba(0, 0, 0, 0.04);
}

.ins-active {
    background: var(--active) !important;
}

.ins-active i,
.ins-active span,
.ins-active {
    color: var(--primary) !important;
}