.pro-partner-block {
    padding: 20px;
    margin-bottom: 20px;
    width: 300px;
}

.pro-partner-block img {
    object-fit: cover;
    width: 100%;
    min-height: 250px;
    background: url(imgs/loading.gif) 50% no-repeat;
    transition: 0.3s;
}

.pro-partner-block:hover img {
    transform: scale(1.05);
    cursor: pointer;
}